*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.personal-data{
    display: block;
    justify-content: center;
    align-items: center;
   text-align: center;
   margin-top: 70px !important;
   box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
   width: 80%;
   padding: 50px;
   margin: 300px;
   height: auto;

}
.personal-data h2{
    font-size: 3rem;
}
.personal-data img{
    border-radius: 50%  ;
    width: 60%;
    margin: 20px;
}
.personal-data p{
    font-size: 1.4rem;
    margin-top: 20px;
    margin-bottom: 30px;
}

.personal-data  a{
color: yellow;
text-decoration: none;
height: 40px;
font-weight: 700;
width: 80%;
background-color: black;
padding: 15px;
border-radius: 30px;
margin-top: 40px;
}
